<h1 class="center">ABOUT</h1>
<p>I'm specialize in Full Stack Javascript Web Development. My knowledge level is in the MEAN STACK(Mongo, Express, Angular, Node), but I'm constantly learning other technologies or languages.</p> <br>
<p>My prior background is in System Administration/Desktop Support. I've decided to make a change to the software side of IT, after dabbling in HTML & CSS.</p><br>
<p> I feel like this is where I belong in the world of IT as it fits my personality.</p><br>
<p>My hometown is Detroit, MI, but I currently reside in the Denver, CO area. When I'm not coding I'm either weightlifting, enjoying the Arts scene, and all of the greatness that Colorado has to offer.</p>
